<%= form_for(@share) do |f| %>
  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% @share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_email %><br />
    <%= f.text_field :user_email %>
  </div>
  <div class="field">
    <%= f.label :share_name %><br />
    <%= f.text_field :share_name %>
  </div>
  <div class="field">
    <%= f.label :share_email %><br />
    <%= f.text_field :share_email %>
  </div>
  <div class="field">
    <%= f.label :stores_id %><br />
    <%= f.number_field :stores_id %>
  </div>
  <div class="field">
    <%= f.label :stores_name %><br />
    <%= f.text_field :stores_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
