<%= form_for @user , :url => { :action => "save_change_password",:id => @user.id } do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= f.label :current_password, 'Current Password : ' %>
<%= f.password_field :current_password %>

<%= f.label :password, 'New Password : ' %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, 'Confirm Password : ' %>
<%= f.password_field :password_confirmation, :size => 40 %>
<br>
<%= f.submit 'Change Password', :class=>'btn btn-primary' %>

<% end %>