<%= form_for @holderUser, :url=>{:action=>"reset_forgot_password"} do |f| %>
<% if @holderUser.errors.any? %>
<div class="alert alert-error">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<h2><%= pluralize(@holderUser.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @holderUser.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row">
	<div class="span4">
		
		<p>
			Enter your email address and the new password will be sent to you.
		</p>
	</div>
</div>
<%= f.label :email %>
<%= f.text_field :email %>

<br>
<%= f.submit 'Reset Password', :class=>'btn btn-primary'%>

<% end %>
