<h1>Image List</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Image url</th>
    <th>Image desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_uploads.each do |image_upload| %>
  <tr>
    <td><%= image_upload.username %></td>
    <td><%= image_tag(image_upload.image_url,:size => '100x100') %></td>
    <td><%= image_upload.image_desc %></td>
    <td><%= link_to 'Show', image_upload %></td>
    <td><%= link_to 'Edit', edit_image_upload_path(image_upload) %></td>
    <td><%= link_to 'Destroy', image_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image upload', new_image_upload_path %>
